<h1><%= @house.name %></h1>

<h2>Teachers</h2>
<ul>
  <% @house.teachers.each do |teacher| %>
    <li><%= link_to teacher.name, house_teacher_path(teacher.house, teacher) %></li>
  <% end %>
</ul>

<h2>Students</h2>
<ul>
  <% @house.students.each do |student| %>
    <li><%= link_to student.name, house_student_path(student.house, student) %></li>
  <% end %>
</ul>